a{
    color:inherit;
  }
.nav-items{
    text-align: center;
}
.nav-items li{
    display: inline;
}
.list-item{
    color:tomato;
    font-size:37px;
    list-style-type: none;
}
.header-logo{
    text-align: center;
}
.social-icons{
    width:50px;
}
.login-form{
    text-align: center;
    line-height: 3;
}
.sign-in-input{
    font-size:22px;
}
.login-button{
    font-size:22px;
    background-color:#327fc7;
    color: white;
    border:none;
    padding:7px;
    border-radius: 5px;
}